[package]
authors = ["Webb Technologies Inc."]
edition = "2021"
homepage = "https://substrate.dev"
license = "Unlicense"
name = "tangle-standalone-runtime"
repository = "https://github.com/webb-tools/protocol-substrate/"
version = "0.1.0"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[build-dependencies]
substrate-wasm-builder = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }

[dependencies]
codec = {package = "parity-scale-codec", version = "3", default-features = false, features = ["derive", "max-encoded-len"]}
hex-literal = {version = '0.3.1', optional = true}
log = {version = "0.4.14", default-features = false}
scale-info = {version = "2.1.1", default-features = false, features = ["derive"]}
serde = { version = "1.0.101", optional = true, features = ["derive"]}
smallvec = "1.6.1"
static_assertions = "1.1.0"

# DKG Substrate Dependencies
pallet-dkg-metadata = { git = "https://github.com/webb-tools/dkg-substrate.git", default-features = false }
dkg-runtime-primitives = { git = "https://github.com/webb-tools/dkg-substrate.git", default-features = false }
pallet-dkg-proposals = { git = "https://github.com/webb-tools/dkg-substrate.git", default-features = false }
pallet-dkg-proposal-handler = { git = "https://github.com/webb-tools/dkg-substrate.git", default-features = false }

# Protocol Substrate Dependencies
webb-primitives = { git = "https://github.com/webb-tools/protocol-substrate.git",   default-features = false, features = ["hashing", "verifying"] }
pallet-hasher = { git = "https://github.com/webb-tools/protocol-substrate.git",  default-features = false }
pallet-mt = { git = "https://github.com/webb-tools/protocol-substrate.git", default-features = false }
pallet-linkable-tree = { git = "https://github.com/webb-tools/protocol-substrate.git", default-features = false }
pallet-mt-rpc-runtime-api = { git = "https://github.com/webb-tools/protocol-substrate.git", default-features = false }
pallet-linkable-tree-rpc-runtime-api = { git = "https://github.com/webb-tools/protocol-substrate.git", default-features = false }
pallet-verifier = { git = "https://github.com/webb-tools/protocol-substrate.git", default-features = false }
pallet-asset-registry = { git = "https://github.com/webb-tools/protocol-substrate.git", default-features = false }
pallet-signature-bridge = { git = "https://github.com/webb-tools/protocol-substrate.git", default-features = false }
pallet-mixer = { git = "https://github.com/webb-tools/protocol-substrate.git", default-features = false }
pallet-token-wrapper = { git = "https://github.com/webb-tools/protocol-substrate.git", default-features = false }
pallet-token-wrapper-handler = { git = "https://github.com/webb-tools/protocol-substrate.git", default-features = false }
pallet-vanchor = { git = "https://github.com/webb-tools/protocol-substrate.git", default-features = false }
pallet-vanchor-handler = { git = "https://github.com/webb-tools/protocol-substrate.git", default-features = false }
pallet-vanchor-verifier = { git = "https://github.com/webb-tools/protocol-substrate.git", default-features = false }
pallet-key-storage = { git = "https://github.com/webb-tools/protocol-substrate.git", default-features = false }
pallet-ecdsa-claims = { path = "../../pallets/claims", default-features = false }

# Orml dependencies
orml-currencies = { git = "https://github.com/open-web3-stack/open-runtime-module-library.git", branch = "polkadot-v0.9.29", default-features = false }
orml-tokens = { git = "https://github.com/open-web3-stack/open-runtime-module-library.git", branch = "polkadot-v0.9.29", default-features = false }
orml-traits = { git = "https://github.com/open-web3-stack/open-runtime-module-library.git", branch = "polkadot-v0.9.29", default-features = false }

# Substrate dependencies
sp-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
sp-authority-discovery = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
sp-block-builder = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
sp-core = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
sp-consensus-aura = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
sp-inherents = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
sp-io = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
sp-npos-elections = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
sp-offchain = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
sp-session = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
sp-staking = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
sp-transaction-pool = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
sp-version = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }

frame-benchmarking = { git = "https://github.com/paritytech/substrate", optional = true, branch = "polkadot-v0.9.29", default-features = false }
frame-election-provider-support = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
frame-executive = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
frame-support = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
frame-system = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
frame-system-benchmarking = { git = "https://github.com/paritytech/substrate", optional = true, branch = "polkadot-v0.9.29", default-features = false }
frame-system-rpc-runtime-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }

pallet-aura = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
pallet-session = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
pallet-bags-list = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }

pallet-assets = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
pallet-authority-discovery = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
pallet-bounties = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
pallet-child-bounties = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }

pallet-grandpa = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.29", default-features = false }
pallet-collective = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.29", default-features = false }
pallet-democracy = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.29", default-features = false }
pallet-election-provider-multi-phase = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.29", default-features = false }
pallet-elections-phragmen = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.29", default-features = false }
pallet-im-online = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.29", default-features = false }
pallet-indices = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.29", default-features = false }
pallet-offences = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.29", default-features = false }

pallet-scheduler = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.29", default-features = false }
pallet-preimage = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.29", default-features = false }
pallet-nomination-pools = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.29", default-features = false }
pallet-staking = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.29", default-features = false }
pallet-staking-reward-curve = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.29", default-features = false }
pallet-treasury = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.29", default-features = false }

pallet-authorship = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
pallet-balances = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
pallet-vesting = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
pallet-multisig = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
pallet-proxy = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
pallet-randomness-collective-flip = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
pallet-sudo = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
pallet-timestamp = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
pallet-asset-tx-payment = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
pallet-transaction-payment = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
pallet-transaction-payment-rpc-runtime-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }
pallet-utility = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.29", default-features = false }

tangle-primitives = { path = '../../primitives', default-features = false }

[features]
default = ["std"]
runtime-benchmarks = [
  "hex-literal",
  "frame-benchmarking",
  "frame-system-benchmarking",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "pallet-balances/runtime-benchmarks",
  "pallet-vesting/runtime-benchmarks",
  "pallet-collective/runtime-benchmarks",
  "pallet-timestamp/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",

  # protocol-substrate deps
  "pallet-signature-bridge/runtime-benchmarks",
  "pallet-mt/runtime-benchmarks",
  "pallet-mixer/runtime-benchmarks",
  "pallet-linkable-tree/runtime-benchmarks",
  "pallet-hasher/runtime-benchmarks",
  "pallet-verifier/runtime-benchmarks",
  "pallet-asset-registry/runtime-benchmarks",
  "pallet-token-wrapper/runtime-benchmarks",
	
  # dkg deps
  "pallet-dkg-metadata/runtime-benchmarks",
	"pallet-dkg-proposals/runtime-benchmarks",
	"pallet-dkg-proposal-handler/runtime-benchmarks",
]

std = [
  "serde",
  "codec/std",
  "scale-info/std",
  "log/std",
  "sp-api/std",
  "sp-std/std",
  "sp-io/std",
  "sp-core/std",
  "sp-runtime/std",
  "sp-version/std",
  "sp-staking/std",
  "sp-offchain/std",
  "sp-session/std",
  "sp-block-builder/std",
  "sp-transaction-pool/std",
  "sp-inherents/std",
  "sp-consensus-aura/std",
  "sp-npos-elections/std",
  "frame-support/std",
  "frame-executive/std",
  "frame-system/std",
  "frame-system-rpc-runtime-api/std",
  "sp-authority-discovery/std",
  "pallet-assets/std",
  "pallet-authority-discovery/std",
  "pallet-authorship/std",
  "pallet-aura/std",
  "pallet-bags-list/std",
  "pallet-bounties/std",
  "pallet-child-bounties/std",
  "pallet-balances/std",
  "pallet-vesting/std",
  "pallet-grandpa/std",
  "pallet-multisig/std",
  "pallet-indices/std",
  "pallet-proxy/std",
  "pallet-randomness-collective-flip/std",
  "pallet-session/std",
  "pallet-sudo/std",
  "pallet-timestamp/std",
  "pallet-transaction-payment/std",
  "pallet-asset-tx-payment/std",
  "pallet-transaction-payment-rpc-runtime-api/std",
  "pallet-utility/std",
  "pallet-collective/std",
  "pallet-democracy/std",
  "pallet-election-provider-multi-phase/std",
  "pallet-elections-phragmen/std",
  "pallet-im-online/std",
  "pallet-offences/std",
  "pallet-staking/std",
  "pallet-scheduler/std",
  "pallet-preimage/std",
  "pallet-nomination-pools/std",
  "pallet-treasury/std",
  "pallet-ecdsa-claims/std",

	# DKG
	"pallet-dkg-metadata/std",
	"dkg-runtime-primitives/std",
	"pallet-dkg-proposals/std",
	"pallet-dkg-proposal-handler/std",

	# Protocol Substrate
	"webb-primitives/std",
	"pallet-hasher/std",
	"pallet-mt/std",
	"pallet-linkable-tree/std",
	"pallet-mt-rpc-runtime-api/std",
  "pallet-linkable-tree-rpc-runtime-api/std",
	"pallet-verifier/std",
	"orml-currencies/std",
	"orml-tokens/std",
	"orml-traits/std",
	"pallet-asset-registry/std",
	"pallet-signature-bridge/std",
	"pallet-mixer/std",
	"pallet-token-wrapper/std",
  "pallet-token-wrapper-handler/std",
  "pallet-vanchor/std",
  "pallet-vanchor-handler/std",
  "tangle-primitives/std"
]
