[package]
name = "pallet-evm-precompile-tangle-lst"
version = "0.1.0"
authors = { workspace = true }
edition = "2021"
description = "A Precompile to make pallet-multi-asset-delegation calls encoding accessible to pallet-evm"

[dependencies]


precompile-utils = { workspace = true }

# Substrate
frame-support = { workspace = true }
frame-system = { workspace = true }
pallet-balances = { workspace = true }
pallet-multi-asset-delegation = { workspace = true }
parity-scale-codec = { workspace = true, features = ["derive"] }
sp-core = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }

# Frontier
fp-evm = { workspace = true }
pallet-evm = { workspace = true, features = ["forbid-evm-reentrancy"] }
pallet-tangle-lst = { workspace = true }
tangle-primitives = { workspace = true }

[dev-dependencies]
derive_more = { workspace = true, features = ["full"] }
hex-literal = { workspace = true }
serde = { workspace = true }
sha3 = { workspace = true }
sp-staking = { workspace = true }


precompile-utils = { workspace = true, features = ["std", "testing"] }

# Substrate
pallet-balances = { workspace = true, features = ["std"] }
pallet-assets = { workspace = true, features = ["std"] }
pallet-timestamp = { workspace = true, features = ["std"] }
scale-info = { workspace = true }
sp-io = { workspace = true, features = ["std"] }

[features]
default = ["std"]
std = [
  "fp-evm/std",
  "frame-support/std",
  "frame-system/std",
  "pallet-balances/std",
  "pallet-evm/std",
  "pallet-multi-asset-delegation/std",
  "parity-scale-codec/std",
  "precompile-utils/std",
  "sp-core/std",
  "sp-runtime/std",
  "sp-std/std",
  "tangle-primitives/std",
  "pallet-assets/std",
  "pallet-tangle-lst/std",
]
runtime-benchmarks = [
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "pallet-balances/runtime-benchmarks",
  "pallet-evm/runtime-benchmarks",
  "pallet-multi-asset-delegation/runtime-benchmarks",
  "pallet-assets/runtime-benchmarks",
  "pallet-tangle-lst/runtime-benchmarks",
]