[package]
name = "pallet-evm-precompile-democracy"
version = "0.2.0"
authors = { workspace = true }
edition = "2021"
description = "A Precompile to make Substrate's pallet-democracy accessible to pallet-evm"

[dependencies]
log = { workspace = true }


precompile-utils = { workspace = true }

# Substrate
fp-evm = { workspace = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
pallet-democracy = { workspace = true }
pallet-preimage = { workspace = true }
parity-scale-codec = { workspace = true }
sp-core = { workspace = true }
sp-io = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }

# Frontier
pallet-evm = { workspace = true, features = ["forbid-evm-reentrancy"] }

[dev-dependencies]
derive_more = { workspace = true, features = ["full"] }
hex-literal = { workspace = true }
serde = { workspace = true }


precompile-utils = { workspace = true, features = ["std", "testing"] }

# Substrate
pallet-balances = { workspace = true, features = ["std"] }
pallet-scheduler = { workspace = true, features = ["std"] }
pallet-timestamp = { workspace = true, features = ["std"] }
scale-info = { workspace = true, features = ["derive", "std"] }
sp-runtime = { workspace = true, features = ["std"] }

[features]
default = ["std"]
std = [
  "fp-evm/std",
  "frame-support/std",
  "frame-system/std",
  "pallet-democracy/std",
  "pallet-evm/std",
  "parity-scale-codec/std",
  "precompile-utils/std",
  "sp-core/std",
  "sp-io/std",
  "sp-std/std",
]
