version: "3"

services:
  
  collator:
    relay-node-alice:
      image: parity/polkadot:v0.9.30
      command:
        [
          "--port=${PORT_RELAY_ALICE_LIBP2P}",
          "--no-mdns",
          "--chain=${RELAY_CHAIN_SPEC}",
          "--ws-port=${PORT_RELAY_ALICE_WS}",
          "--ws-external",
          "--rpc-external",
          "--unsafe-rpc-external",
          "--rpc-methods=unsafe",
          "--rpc-cors=all",
          "--validator",
          "--alice",
          "--node-key-file=/data/spec/relay/alice.key",
          "--bootnodes",
          "/dns4/relay-node-alice/tcp/${PORT_RELAY_ALICE_LIBP2P}/p2p/12D3KooWPU8zhfbYjr6mGuDdrrkQMFfDm2edXFYkkkmyCBont8K5",
          "--bootnodes",
          "/dns4/relay-node-bob/tcp/${PORT_RELAY_BOB_LIBP2P}/p2p/12D3KooWGFFpuUgFSFwNVLeVhNJ6m25jgv15pK8xcbdqaAj9gfnc",
          "--bootnodes",
          "/dns4/relay-node-charlie/tcp/${PORT_RELAY_CHARLIE_LIBP2P}/p2p/12D3KooWPaFM8dPrm5GodDmggNPNLrKLUzDnLYuEStVZ7sesjrrW"
        ]
      volumes:
        - ./specs:/data/spec/
        - /data
      ports:
        - ${PORT_RELAY_ALICE_WS}:${PORT_RELAY_ALICE_WS}
        - ${PORT_RELAY_ALICE_LIBP2P}:${PORT_RELAY_ALICE_LIBP2P}
      expose:
        - ${PORT_RELAY_ALICE_LIBP2P}

  tangle-collator:  
    image: "ghcr.io/webb-tools/tangle/tangle-collator:main"
    volumes:
      - ./specs:/data/spec/
      - /data
    command:
      [
        "--no-mdns",
        "--port=${PORT_PARA_ALICE_LIBP2P}",
        "--ws-port=${PORT_PARA_ALICE_WS}",
        "--ws-external",
        "--rpc-external",
        "--rpc-cors=all",
        "--unsafe-rpc-external",
        "--rpc-methods=unsafe",
        "--chain=${RAW_SPEC_FILE}",
        "--runtime=${RUNTIME}",
        "--collator",
        "--alice",
        "--node-key-file=/data/spec/alice.key",
        "--execution=wasm",
        "-ldkg=debug",
        "-ldkg_gadget::worker=debug",
        "-lruntime::dkg_metadata=debug",
        "--ldkg_metadata=debug",
        "--lruntime::dkg_proposal_handler=debug",
        "-lruntime::offchain=debug",
        "-ldkg_proposal_handler=debug",
        "--",
        "--port=${PORT_RELAY_ALICE_LIBP2P}",
        "--chain=${RELAY_CHAIN_SPEC}",
        "--execution=wasm",
      ]
    ports:
      - 9933:9933
      - 9944:9944
      - 30333:30333
      - 9615:9615

  prometheus:
    image: prom/prometheus
    restart: always
    volumes:
      - ./prometheus:/etc/prometheus/
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    ports:
      - 9090:9090

  livelogger:
    image: mthenw/frontail
    restart: always
    volumes:
      - ./frontail
    command:
      - 'collator_logs/parachain.log'
    ports:
      - 9001:9001