[package]
name = "tangle-standalone"
build = "build.rs"
description = "A fresh FRAME-based Substrate node, ready for hacking."
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[package.metadata.wasm-pack.profile.release]
# `wasm-opt` has some problems on linux, see
# https://github.com/rustwasm/wasm-pack/issues/781 etc.
wasm-opt = false

[[bin]]
name = "tangle-standalone"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[build-dependencies]
substrate-build-script-utils = { workspace = true }

[dependencies]
clap = { workspace = true }
codec = { workspace = true }
futures = { workspace = true }
hex-literal = { workspace = true }
log = { workspace = true }
rand = { workspace = true }

# Light client dependencies
finality-update-verify = { workspace = true }

# DKG dependencies
dkg-gadget = { workspace = true }
dkg-primitives = { workspace = true }
dkg-runtime-primitives = { workspace = true }
tangle-runtime = { workspace = true }
pallet-bridge-registry = { workspace = true }

# Substrate dependencies
sc-cli = { workspace = true }
sc-executor = { workspace = true }
sc-keystore = { workspace = true }
sc-service = { workspace = true }
sp-core = { workspace = true }

frame-benchmarking = { workspace = true }
frame-benchmarking-cli = { workspace = true }
frame-system = { workspace = true }
sc-basic-authorship = { workspace = true }
sc-client-api = { workspace = true }
sc-consensus = { workspace = true }
sc-consensus-aura = { workspace = true }
sc-network = { workspace = true }
sc-telemetry = { workspace = true }
sc-transaction-pool = { workspace = true }
sp-consensus-aura = { workspace = true }
sp-inherents = { workspace = true }
sp-keyring = { workspace = true }
sp-runtime = { workspace = true }
sp-trie = { workspace = true }
sc-consensus-grandpa = { workspace = true }
sc-network-sync = { workspace = true }

sc-chain-spec = { workspace = true }
sc-rpc = { workspace = true }
sc-rpc-api = { workspace = true }
sp-api = { workspace = true }
sp-block-builder = { workspace = true }
sp-blockchain = { workspace = true }
sp-timestamp = { workspace = true }
substrate-frame-rpc-system = { workspace = true }
sc-consensus-manual-seal = { workspace = true }

# RPC related dependencies
jsonrpsee = { workspace = true }
pallet-im-online = { workspace = true }
pallet-transaction-payment = { workspace = true }
pallet-transaction-payment-rpc = { workspace = true }
sc-transaction-pool-api = { workspace = true }
wasmer = { version = "2.3" }

# Frontier
fc-cli = { workspace = true }
fc-consensus = { workspace = true }
fc-db = { workspace = true }
fc-mapping-sync = { workspace = true }
fc-rpc = { workspace = true }
fc-rpc-core = { workspace = true }
fc-storage = { workspace = true }
fp-account = { workspace = true }
fp-dynamic-fee = { workspace = true, features = ["default"] }
fp-evm = { workspace = true, features = ["default"] }
fp-rpc = { workspace = true, features = ["default"] }

[features]
default = ["with-rocksdb-weights",	"rocksdb",
	"sql",]
runtime-benchmarks = ["tangle-runtime/runtime-benchmarks"]
integration-tests = ["tangle-runtime/integration-tests"]
with-rocksdb-weights = ["tangle-runtime/with-rocksdb-weights"]
with-paritydb-weights = ["tangle-runtime/with-paritydb-weights"]
rocksdb = [
	"sc-cli/rocksdb",
	"sc-service/rocksdb",
	"fc-cli/rocksdb",
	"fc-db/rocksdb",
	"fc-mapping-sync/rocksdb",
	"fc-rpc/rocksdb",
]
sql = [
	"fc-db/sql",
	"fc-mapping-sync/sql",
]