[package]
name = "pallet-evm-precompile-staking"
version = "1.0.0"
authors = { workspace = true }
edition = "2021"
description = "A Precompile to make staking accessible to pallet-evm"

[dependencies]
log = { workspace = true }
num_enum = { workspace = true }
rustc-hex = { workspace = true }
tangle-primitives = { workspace = true }

# Moonbeam
precompile-utils = { workspace = true }

# Substrate
frame-support = { workspace = true }
frame-system = { workspace = true }
pallet-staking = { workspace = true }
parity-scale-codec = { workspace = true, features = ["max-encoded-len"] }
sp-core = { workspace = true }
sp-io = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }

# Frontier
fp-evm = { workspace = true }
pallet-evm = { workspace = true, features = ["forbid-evm-reentrancy"] }

[dev-dependencies]
derive_more = { workspace = true }
serde = { workspace = true }
sha3 = { workspace = true }

# Moonbeam
precompile-utils = { workspace = true, features = ["std", "testing"] }

# Substrate
pallet-balances = { workspace = true, features = [ "std" ] }
pallet-dkg-proposals = { workspace = true, features = [ "std" ] }
pallet-timestamp = { workspace = true, features = [ "std" ] }
scale-info = { workspace = true, features = [ "derive", "std" ] }
sp-runtime = { workspace = true, features = [ "std" ] }
pallet-staking = { workspace = true, features = [ "std" ]  }
pallet-staking-reward-curve = { workspace = true }
sp-keystore = { workspace = true, features = ["std"] }
sp-staking = { workspace = true, features = ["std"] }

[features]
default = ["std"]
std = [
  "fp-evm/std",
  "frame-support/std",
  "frame-system/std",
  "pallet-evm/std",
  "pallet-staking/std",
  "parity-scale-codec/std",
  "precompile-utils/std",
  "sp-core/std",
  "sp-runtime/std",
  "sp-std/std",
  "tangle-primitives/std",
]
