[package]
name = "tangle-subxt"
version = "0.1.3-v2+001"
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[dependencies]
parity-scale-codec = { workspace = true }
scale-info = { workspace = true }
subxt = { version = "0.34.0" }

[dev-dependencies]
subxt-signer = { version = "0.34.0", default-features = false, features = ["subxt", "sr25519", "native"] }
sp-core = { git = "https://github.com/paritytech/polkadot-sdk", branch = "release-polkadot-v1.7.0"  }
sp-io = { git = "https://github.com/paritytech/polkadot-sdk", branch = "release-polkadot-v1.7.0"  }
tokio = { version = "1.32.0", features = ["full"] }
tangle-crypto-primitives = { path = "../primitives/crypto"}
hex = {workspace = true }

