[package]
name = "tangle-subxt"
version ={ workspace = true }
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[dependencies]
parity-scale-codec = { workspace = true, optional = true }
scale-info = { workspace = true, optional = true }
subxt = { version = "0.31.0", optional = true }
subxt-metadata = { version = "0.31.0", optional = true }
subxt-codegen = { version = "0.31.0", optional = true }
serde_json = "1"
syn = { version = "2", features = ["full", "parsing"], optional = true }


[dev-dependencies]
sp-keyring = "26.0.0"
subxt-signer = { version = "0.31.0", features = ["subxt"] }

[build-dependencies]
prettyplease = "0.2"
parity-scale-codec = { workspace = true, optional = true }
syn = { version = "2", features = ["full", "parsing"], optional = true }
serde_json = "1"
subxt = { version = "0.31.0", optional = true }
subxt-metadata = { version = "0.31.0", optional = true }
subxt-codegen = { version = "0.31.0", optional = true }

[features]
default = [
    "subxt",
    "subxt-codegen",
    "subxt-metadata",
    "parity-scale-codec",
    "scale-info",
    "syn"
]

