name: check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'README.md'

  workflow_dispatch:

jobs:
  rustfmt:
    concurrency:
      group: rustfmt-${{ github.ref }}
      cancel-in-progress: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install latest stable
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2025-01-09
          override: true
          components: rustfmt

      - name: Rustfmt check
        run: cargo fmt +nightly-2025-01-09 --all -- --check

  test:
    env:
      CARGO_TERM_COLOR: always

    concurrency:
      group: test-${{ github.ref }}
      cancel-in-progress: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/free-disk-space
      - name: Install toolchain
        id: toolchain
        uses: actions-rs/toolchain@master
        with:
          profile: minimal
          toolchain: stable
          target: wasm32-unknown-unknown

      - name: Install cargo-nextest
        uses: taiki-e/install-action@v2
        with:
          tool: nextest

      - name: Rust Cache
        uses: Swatinem/rust-cache@v1.3.0

      - name: Install Protobuf
        run: sudo apt-get install protobuf-compiler

      - name: Run test suite
        run: cargo nextest run --workspace --exclude tangle --profile ci

  benchmarks:
    env:
      CARGO_TERM_COLOR: always

    concurrency:
      group: benchmark-${{ github.ref }}
      cancel-in-progress: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/free-disk-space
      - name: Install toolchain
        id: toolchain
        uses: actions-rs/toolchain@master
        with:
          profile: minimal
          toolchain: stable
          target: wasm32-unknown-unknown

      - name: Rust Cache
        uses: Swatinem/rust-cache@v1.3.0

      - name: Install Protobuf
        run: sudo apt-get install protobuf-compiler

      - name: Run test suite
        run: cargo b -rp tangle --features runtime-benchmarks

  e2e:
    env:
      CARGO_TERM_COLOR: always

    concurrency:
      group: e2e-${{ github.ref }}
      cancel-in-progress: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/free-disk-space
      - name: Install toolchain
        id: toolchain
        uses: actions-rs/toolchain@master
        with:
          profile: minimal
          toolchain: stable
          target: wasm32-unknown-unknown

      - name: Install cargo-nextest
        uses: taiki-e/install-action@v2
        with:
          tool: nextest

      - name: Rust Cache
        uses: Swatinem/rust-cache@v1.3.0

      - name: Install Protobuf
        run: sudo apt-get install protobuf-compiler

      - name: Run End to End test suite
        run: cargo nextest run -rp tangle -F manual-seal,testnet,txpool,fast-runtime --profile ci --nocapture

  clippy:
    concurrency:
      group: clippy-${{ github.ref }}
      cancel-in-progress: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/free-disk-space
      - name: Install toolchain
        id: toolchain
        uses: actions-rs/toolchain@master
        with:
          profile: minimal
          toolchain: stable
          target: wasm32-unknown-unknown

      - name: Rust Cache
        uses: Swatinem/rust-cache@v1.3.0

      - name: Install Protobuf
        run: sudo apt-get install protobuf-compiler

      - name: Run clippy
        run: cargo clippy --all-targets --workspace -- --deny warnings
